<!-- about Grid Section -->
<div class="hide-from-printer">
  <section id="about" class="bg-light-gray">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading">About Me</h2>
          <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-md-7 col-sm-10 about-item">
          <div class="block">
            <p style="font-size:12.0pt">I am a results-driven sales and management professional with an entrepreneurial focus and proven track record for significantly increasing revenue. I’ve spent my career as an adaptable leader profitably
              identifying and developing opportunities for new business, negotiating costs, analyzing markets for development, and managing the process. I have extensive, transferable skills in product research, team development and management,
              sourcing equipment, communication with overseas manufacturers, ability to build new territories and expand opportunities within existing client base. I am known for generating repeat business through effective account management and
              strategic planning while building relationships with company executives.
              <p>Specialties:<br>Exceeding sales quotas & revenue expectations, increasing revenues , closing skills, contract management, project management, relationship building, customer service, farming customer base, customer retention,
                strategic solution selling, consultative selling, customer satisfaction, internet services, lead generation, Microsoft excel, Microsoft outlook, Microsoft power point, Microsoft word, networking, presentation skills, proposal writing,
                project management and managing people.</p>
          </div>
        </div>
        <div class="col-md-5 col-sm-12">
          <div class="block">
            <img class="circular--square" src="img/head-659652_640.png" alt="Img">
          </div>
        </div><!-- .col-md-5 close -->
      </div>
    </div>
  </section>
</div>
