<!-- About Section -->
<div class="hide-from-printer">
  <section id="work">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading">Work History</h2>
          <h3 class="section-subheading text-muted">Brief sentence about yourself/tagline.</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <ul class="timeline">
            <li>
              <div class="timeline-image">
                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
              </div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h4>2007-2011</h4>
                  <h4 class="subheading">Education</h4>
                </div>
                <div class="timeline-body">
                  <p class="text-muted">I graduated from University with a Batchlors of Science in Subject with a 3.5gpa.</p>
                </div>
              </div>
            </li>
            <li class="timeline-inverted">
              <div class="timeline-image">
                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
              </div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h4>March 2011</h4>
                  <h4 class="subheading">First Job</h4>
                </div>
                <div class="timeline-body">
                  <p class="text-muted">Worked at company doing this job.</p>
                </div>
              </div>
            </li>
            <li>
              <div class="timeline-image">
                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
              </div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h4>December 2012</h4>
                  <h4 class="subheading">Second Job</h4>
                </div>
                <div class="timeline-body">
                  <p class="text-muted">Started working at this job doing this job.</p>
                </div>
              </div>
            </li>
            <li class="timeline-inverted">
              <div class="timeline-image">
                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
              </div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h4>July 2014</h4>
                  <h4 class="subheading">Promotion</h4>
                </div>
                <div class="timeline-body">
                  <p class="text-muted">Was promoted to this new position. My new job responsibilities include:.....</p>
                </div>
              </div>
            </li>
            <li class="timeline-inverted">
              <a href="resume.html" class="resume-print">><div class="timeline-image">
                  <h4>Print
                    <br>My
                    <br>Resume</h4>
                </div></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
</div>
